[Unit]
Description=Hurricane Electric DDNS update timer

[Timer]
# check: man systemd-time
OnCalendar=*-*-* *:0/5:*
Persistent=false
Unit=he.service

[Install]
WantedBy=basic.target
